@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');



body {
	background-image: url(images/background.png);
}


#whitebox {
	background-color: rgba(255, 255, 255,.73);
	width: 60%;
	margin: auto;
	margin-top: 30px;
	border: 5px solid;
	/*border-color: rgb(138, 43, 226, .55);*/
	border-color: rgb(245, 98, 98);
	padding: 50px;

}


.grid {
	display: grid;
	/* grid-template-columns: 30% 70%; */
	grid-template-columns: repeat(16,1fr);
	/* grid-column-gap: 2px;
	grid-row-gap: 2px; */
	grid-column-gap: 10px;
	margin: 10px;
	grid-row-gap: 5px;
	padding: 10px;
	grid-auto-rows: minmax(20px, auto);
	/* justify-items: stretch; */
	/* align-items: end; */
}

.grid > div {
	/* background: #ddd; */
	/* padding: 1em; */
}

/* top one */
.grid > div:nth-child(1) {
	/* grid-row: minmax(24px, auto); */
	/* background-color: rgb(255, 192, 203, .55); */
	background-image: url(images/header_background.jpg);
	background-color: rgba(255, 255, 255,.20);
	padding: 1em;
	background-blend-mode: lighten;
	text-align: center;

	grid-column: 1/17;
	grid-row: 1/8;
}


.grid > div:nth-child(1) > h1 {
	color:  rgb(240,248,255, .85);
}




/* nav bar */
.grid > div:nth-child(2) {
	background-color: rgb(255, 192, 203, .85);
	grid-column: 1/17;
	grid-row: 8/9;

}

/* content 1 */
.grid > div:nth-child(3) {
	/* background-color: rgb(255, 192, 203, .85); */
	grid-column: 1/17;
	grid-row: 9/14;

}

.grid > div:nth-child(3) > p {
	font-family: 'Oswald', sans-serif;
	margin: 20px;
	margin-left: 5px;
	font-size: 1.1em;
	font-style: normal;
	font-weight: bold;
	line-height: 2em;
}

/* content 2 */
.grid > div:nth-child(4) {
	/* background-color: rgb(255, 192, 203, .85); */
	grid-column: 2/8;
	grid-row: 14/25;
}


.grid > div:nth-child(4) > p {
	font-family: 'Oswald', sans-serif;
	margin: 20px;
	margin-left: 5px;
	font-size: 1.1em;
	font-style: normal;
	font-weight: bold;
	line-height: 2em;
}

/* image */
.grid > div:nth-child(5) {
	/* background: pink; */
	/* background-color: rgb(255, 192, 203, .85); */
	grid-column: 13/17;
	grid-row: 12/25;
}


.grid > div:nth-child(5)> .home_image {
	width: 652px;
  height: 400px;
  object-fit: fill;
	border: 5px solid rgb(138, 43, 226, .05);
}

/* content 3 */
.grid > div:nth-child(6) {
	/* background: pink; */
	/* background-color: rgb(255, 192, 203, .85); */
	grid-column: 1/17;
	grid-row: 25/30;
}

.grid > div:nth-child(6) > p {
	font-family: 'Oswald', sans-serif;
	margin: 20px;
	margin-left: 5px;
	font-size: 1.1em;
	font-style: normal;
	font-weight: bold;
	line-height: 2em;
}

/* contact */
.grid > div:nth-child(7) {
	/* background: pink; */
	/* background-color: rgb(255, 192, 203, .25); */
	grid-column: 12/17;
	grid-row: 30/35;
}

.grid > div:nth-child(7) > p {
	margin-right: 20px;
	font-size: 1em;
	font-style: italic;
	/* font-weight: bold; */
	line-height: 5px;
	text-align: right;
	color: mediumvioletred;
}


#flex {
	display: flex;
  align-items: center;
  list-style-type: none;
	justify-content: space-between;
	padding: 10px 10%;

}

.general_image {
	width: 12%;
  	height: 12%;
}
