{% extends "base2.html" %}

{% block title %}Library{% endblock %}

{% block stylesheet %}
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
        <style>

                {# content 1#}
                .grid > div:nth-child(3) {
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 1/17;
                grid-row: 10/28;

            }

                .grid > div:nth-child(4) {
                {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 2/17;
                grid-row: 28/30;
            }

                .grid > div:nth-child(5) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 2/17;
                grid-row: 18/28;
            }

                {# content 4#}
                .grid > div:nth-child(6) {
                /* background: pink; */
                background-color: rgb(255, 192, 203, .85);
                grid-column: 6;
                grid-row: 29;
            }

                {# content 5#}
                .grid > div:nth-child(7) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 10;
                grid-row: 29;
            }

            #chat {
                width: 70%;
                margin-left: 10em;
            }

            #chat input {
                width: 99%;
            }

            ul {
                height: 500px;
                background-color: white;
                overflow-y: scroll;
                align-content: center;
            }

            li {
                list-style: none;
            }

            #landing {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
            }
        </style>
{% endblock %}

{% block content %}

    <div class="content_3">
        <div id="landing">
            <button id="join-btn" style="background-color: rgb(82,78,78)"><div  style="color: orangered">JOIN</div></button>
        </div>


        <div id="chat" style="display:none;">

            <ul id="chat-messages">
            </ul>
            <input type="text" id="message" placeholder="Press ENTER to send">

        </div>


    <script>

        const socket = io({autoConnect: false});
        let data = myFunc({{data|tojson}})

        function myFunc(vars) {
            return vars
        }

        document.getElementById("join-btn").addEventListener("click", function() {
            let user = myFunc({{user_data|tojson}})

            socket.connect();

            socket.on('connect', function() {
              console.log('Connected to the server!');

              // Join a room
              socket.emit("join",{'username': user['First Name'], 'room': data['room']});
            });


            document.getElementById("chat").style.display = "block";
            document.getElementById("file_management").style.display = "block";
            document.getElementById("landing").style.display = "none";
        })

        document.getElementById("message").addEventListener("keyup", function (event) {
            if (event.key == "Enter") {
                let message = document.getElementById("message").value;
                socket.emit("new_message",{'message' : message, 'room' : data['room']});
                document.getElementById("message").value = "";
            }
        })


        socket.on('joined', data => {
          console.log(`${data.username} has joined ${data.room}`);
        });

        socket.on("chat", function(data) {
            let ul = document.getElementById("chat-messages");
            let li = document.createElement("li");
            li.appendChild(document.createTextNode(data["username"] + ": " + data["message"]));
            ul.appendChild(li);
            ul.scrolltop = ul.scrollHeight;
        })
    </script>



    </div>


    <div class="content_4">

        <div id="file_management" style="display:none;  margin-left: 20em;  margin-top: 2em;">
              {% if ctype=='ind' %}
                  <a href="/library/{{ data['uid1'] }}/{{ data['uid2'] }}"><button>Library</button></a>
                  <a href="/unmatch/{{ data['uid1'] }}/{{ data['uid2'] }}"><button>Unmatch</button></a>
              {% elif ctype=='gro' %}
                  <a href="/library/groups/{{ data['gid'] }}"><button>Library</button></a>
                  <a href="/settings/groups/{{ data['gid'] }}"><button>Settings</button></a>
                  <a href="/unmatch/groups/{{ data['uid1'] }}/{{ data['gid'] }}"><button>Leave Group</button></a>
              {% endif %}

        </div>
    </div>




{% endblock %}