{% extends "base2.html" %}

{% block title %}Discover Matches{% endblock %}


{% block stylesheet %}
        <style>

                {# content 1#}
                .grid > div:nth-child(3) {
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 2/17;
                grid-row: 10/14;

            }

                .grid > div:nth-child(4) {
                {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 2/17;
                grid-row: 13/20;
            }

                .grid > div:nth-child(5) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 2/17;
                grid-row: 20/28;
            }

                {# content 4#}
                .grid > div:nth-child(6) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 6;
                grid-row: 29;
            }

                {# content 5#}
                .grid > div:nth-child(7) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 10;
                grid-row: 29;
            }

            .interests-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10em;
                margin-left: 9em;
                margin-top: 2em;
            }

            {# content 6#}
                .grid > div:nth-child(8) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 11/17;
                grid-row: 30/32;
            }

        </style>
{% endblock %}
{% block content %}

          {% if msg %}
            <p><strong>{{ msg }}</strong></p>
          {% endif %}

          <div class="content_1">
                <h1>Discover Fellow Learners!</h1>
          </div>

          <div class="content_2">
                <table>
                  {% for key in random_user_details.keys() %}
                  <tr style="line-height: 2; margin-bottom: 20px;">
                    <td><strong>{{ key + ": " }}&nbsp</strong></td>
                    <td style="width:85%; height:4em">{{ random_user_details[key] }}</td>
                    {% endfor %}
                  </tr>

                </table>
          </div>


          <div class="content_3">
                <table>

                  <tr>
                    <th><strong>Interests:&nbsp</strong></th>
                      <br />
                  </tr>

                  {% if interest_list  %}
{#                        {% for interest in interest_list %}#}
{#                            <tr style="line-height: 2">#}
{#                                <td style="margin-left: 1000px">{{ interest.name }}</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
                      <tr><td>

                          <div class="interests-container">

                            {% for interest in interest_list %}
                                <tr style="line-height: 2">
                                    <td><strong><div style="margin-left: 3em;"> {{interest.name}} <div></strong></td>
                                </tr>
                            {% endfor %}
                      </div>
                      </td>

                      </tr>
                  {% else %}
                    <tr style="line-height: 3.5;">
                        <td>Open to explore new horizons!</td>
                    </tr>
                  {% endif %}

                </table>

          </div>


          <div class="content_4">
          <form action="/match" method="POST">
              <button
                style="background-color: rgb(37, 171, 55)"
                type="submit"
                class="btn btn-primary"
              >
                Match
              </button>
            </form>
            <br />
          </div>

          <div class="content_5">
                <form action="/reject" method="POST">
              <button
                style="background-color: rgb(163, 18, 18)"
                type="submit"
                class="btn btn-primary"
              >
                Decline
              </button>
            </form>

          </div>

          <div class="content_6">
                              {% with messages = get_flashed_messages(with_categories=true) %} {% if
                    messages %} {% for category, message in messages %}
                      {% if category == 'error' %}
                            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                      {% else %}
                            <div class="alert alert-success alter-dismissable fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                  {% endif %} {% endfor %} {% endif %} {% endwith %}
        </div>


{% endblock %}