{% extends "base.html" %} {% block title %}Discovery{% endblock %} {% block
content %}
<br />
<br />
<br />
<br />
<h1>Discover Fellow Learners!</h1>
<br />

<table>
  {% for key in random_user_details.keys() %}
  <tr>
    <td><strong>{{ key + ": " }}&nbsp</strong></td>
    <td>{{ random_user_details[key] }}</td>
    {% endfor %}
  </tr>
</table>

<table>
  <tr>
    <th><strong>Interests:&nbsp</strong></th>
    <br />
  </tr>
  {% for interest in interest_list %}
  <td>{{ interest.name }}</td>
  {% endfor %}
</table>

<br />
<br />

<form action="/match" method="POST">
  <button
    style="background-color: rgb(37, 171, 55)"
    type="submit"
    class="btn btn-primary"
  >
    Match
  </button>
</form>
<br />
<form action="/reject" method="POST">
  <button
    style="background-color: rgb(163, 18, 18)"
    type="submit"
    class="btn btn-primary"
  >
    Decline
  </button>
</form>

{% if msg %}
<p><strong>{{ msg }}</strong></p>
{% endif %} {% endblock %}
