{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

    <form action="/search_group" method="POST">
        <input type="text" placeholder="Search Group.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <h1>Discover Fellow Learners!</h1>

    <table>

        {% for key in random_user_details.keys() %}

            <tr>
                <td>{{ key + ": " }}</td>
                <td>{{ random_user_details[key] }}</td>
            </tr>

        {% endfor %}

    </table>

    <br>
    <br>

    <table>
        <th>Interests</th>

        {% for interest in interest_list %}

            <tr>
                <td>{{ interest.name }}</td>
            </tr>

        {% endfor %}

    </table>

    <br>
    <br>

    <form action="/match" method="POST">

        <input type="submit" value="O">

    </form>
    <br>
    <form action="/reject" method="POST">

        <input type="submit" value="X">

    </form>

    {% if msg %}
        <p><strong>{{ msg }}</strong></p>
    {% endif %}

{% endblock %}