{% extends "base2.html" %}

{% block title %}Library{% endblock %}


{% block stylesheet %}
        <style>

                {# content 1#}
                .grid > div:nth-child(3) {
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 2/17;
                grid-row: 9/14;

            }

                .grid > div:nth-child(4) {
                {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 2/17;
                grid-row: 13/20;
            }

                .grid > div:nth-child(5) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 2/17;
                grid-row: 18/28;
            }

                {# content 4#}
                .grid > div:nth-child(6) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 6;
                grid-row: 29;
            }

                {# content 5#}
                .grid > div:nth-child(7) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 10;
                grid-row: 29;
            }


        </style>
{% endblock %}
{% block content %}


          <div class="content_1">

          </div>

          <div class="content_2">
                    <h1>Group Creation</h1>
          </div>


          <div class="content_3">
               <form method=post enctype=multipart/form-data>
                  <input type="text" placeholder="Enter Group Name" name="group_name">
                  <button type="submit" class="btn btn-primary">Create Group</button>
               </form>

          </div>


          <div class="content_4">

          </div>

          <div class="content_5">

          </div>


{% endblock %}