{% extends "base2.html" %}

{% block title %}Group Settings{% endblock %}


{% block stylesheet %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JavaScript library (required) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <style>

                {# content 1#}
                .grid > div:nth-child(3) {
                background-color: rgb(10,3,3, .55);
                grid-column: 7/10;
                grid-row: 12/13;

            }

                .grid > div:nth-child(4) {
                {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 1/17;
                grid-row: 14/17;
            }

                .grid > div:nth-child(5) {
                    {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 11/17;
                grid-row: 19;
            }


        </style>
{% endblock %}
{% block content %}


          <div class="content_1" style="text-align: center">
                    <button
                      style="background-color: rgb(82,78,78)"
                      type="submit"
                      class="btn btn-primary"
                    >
                      <a class="interestLink" href="/view_interests/{{ gid }}" style="color: orangered">Update Group's Interests</a>
                    </button>
          </div>

          <div class="content_2">
                <form action="/settings/groups/{{ gid }}" method="POST">
                  <div class="card-body">
                    <table class="table table-striped shadow-lg" style="border: 6px solid">
                      <tr>

                        <td class="table-secondary text-dark" >Group ID:</td>
                        <td style="width: 40%">{{ gid }}</td>
                          <td></td>

                      </tr>

                      <tr>
                        <td class="table-secondary text-dark" >Group Name:</td>
                        <td style="width: 40%">{{ gname }}</td>
                        <td>
                        <div class="form-group">
                            <input
                              class="form-control"
                              id="update_field"
                              name="update_name"
                              placeholder="Type to update group name"
                            />
                          </div>
                        </td>



                      </tr>

                    </table>
                  </div>
                  <br />
                  <div class="col-3" style="margin-left: 39%">
                    <button
                      style="background-color: rgb(82,78,78);"
                      type="submit"
                      class="btn btn-primary"
                    >
                        <div  style="color: orangered;">Make Changes</div>
                    </button>
                  </div>
                </form>
          </div>


          <div class="content_3">
                      {% with messages = get_flashed_messages(with_categories=true) %} {% if
                        messages %} {% for category, message in messages %}
                          {% if category == 'error' %}
                                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                          {% else %}
                                <div class="alert alert-success alter-dismissable fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                      {% endif %} {% endfor %} {% endif %} {% endwith %}
          </div>

        <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>


{% endblock %}