{% extends "base2.html" %}

{% block title %}Library{% endblock %}


{% block stylesheet %}
        <style>

                {# content 1#}
                .grid > div:nth-child(3) {
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 2/17;
                grid-row: 9/14;

            }

                .grid > div:nth-child(4) {
                {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 2/17;
                grid-row: 13/16;
            }

                .grid > div:nth-child(5) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 2/17;
                grid-row: 16/28;
            }

                {# content 4#}
                .grid > div:nth-child(6) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 6;
                grid-row: 29;
            }

                {# content 5#}
                .grid > div:nth-child(7) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 10;
                grid-row: 29;
            }


        </style>
{% endblock %}
{% block content %}


          <div class="content_1">

          </div>

          <div class="content_2">
                    <h1>Group Creation</h1>
          </div>


          <div class="content_3">
               <form method=post enctype=multipart/form-data>
                  <input type="text" placeholder="Enter Group Name" name="group_name" style="margin:1em;margin-left: 2em" required>
                   <br>
                   <button type="submit" class="btn btn-primary" style="margin:1em; margin-left: 2em; background-color: rgb(82,78,78)">
                       <div  style="color: orangered">Create Group</div>

                   </button>
               </form>

          </div>


          <div class="content_4">

          </div>

          <div class="content_5">

          </div>


{% endblock %}