{% extends "base2.html" %}

{% block title %}Home{% endblock %}

{% block stylesheet %}
    <style>
                    .grid > div:nth-child(3) {
                /* background: pink; */
                {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 1/12;
                grid-row: 10/15;
                margin: 20px;
	            margin-left: 5px;
            }
                 .grid > div:nth-child(4) {
                /* background: pink; */
                {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 1/12;
                grid-row: 13/20;
                margin: 20px;
	            margin-left: 5px;
            }
                    {# content 5#}
                .grid > div:nth-child(6) {
                /* background: pink; */
                {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 12/17;
                grid-row: 25/30;
            }
               .grid > div:nth-child(6) > p {
                margin-right: 20px;
                font-size: 1em;
                font-style: italic;
                /* font-weight: bold; */
                line-height: 5px;
                text-align: right;
                color: mediumvioletred;
            }
            .card-body {
                width:15em;
            }
    </style>
{% endblock %}

{% block content %}

          <div class="content_1">
          </div>

          <div class="content_2">
              <div class="card-body">

                    <table class="table table-striped shadow-lg" style="border: 5px solid; border-color: rgba(84,28,141,0.02)">
                      <tr style="height:6em;">
                        <td><div style="width:35em; font-size: 1em; margin-top: 0.8em">
                            <strong>Welcome to UnaDoctrina. A place to find others like you or finding new interests.</strong></div></td>
                      </tr>
                      <tr style="height:6em;">
                            <td><a id="discovery" href="/discovery" style="color: #4a5c5d">
                                <div style="margin-left: 10em; font-size: 1em; margin-top: 2em; text-decoration: underline;"><strong>Find New Friends</strong></div>
                            </a></td>
                      </tr>
                      <tr style="height:6em;">
                            <td><a id="chatter_lst" href="/chatter_lst" style="color: #4a5c5d">
                                <div style="margin-left: 20em; font-size: 1em;margin-top: 2em; text-decoration: underline;"><strong>Chat with Friends</strong></div>
                            </a></td>
                      </tr>

                    </table>
                  </div>
          </div>


          <div class="general_image1">
               <svg class="float-md-start mb-0" id="logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 343.12 329.64"><defs><style>.cls-1{fill:#35612f;}.cls-1,.cls-2,.cls-3,.cls-4{stroke:#231f20;stroke-miterlimit:10;}.cls-2{fill:#053d3b;}.cls-3{fill:#2c1010;}.cls-4{fill:#d29999;}.cls-5{font-size:30px;fill:#231f20;font-family:MyriadPro-Regular, Myriad Pro;}.cls-6{font-family:MicrosoftSansSerif, Microsoft Sans Serif;}</style></defs>
              <!-- background -->
              <rect class="cls-1" x="0.5" y="0.5" width="342.12" height="289.22"/>
              <!-- organism -->
              <!-- <a href="https://youtu.be/iik25wqIuFo" target="_blank"><path class="cls-2" d="M120.46,194c-49.41,46.53-71.1,106.11-53.4,153.65,18.58,49.89,77,77,82.06,71.88,5.8-5.92-51.29-62.19-42.67-71.65,9.22-10.11,81.24,46.76,92.34,35.51C211,371,138.27,284.29,144,279.34c6.92-5.95,104.52,125.39,155.78,104.2,12.68-5.24,17.94-17.92,27.45-41.83,10.68-26.84,25.57-77.28,16.09-147.72" transform="translate(-60.46 -191.9)"/></a> -->
              <path class="cls-2" d="M120.46,194c-49.41,46.53-71.1,106.11-53.4,153.65,18.58,49.89,77,77,82.06,71.88,5.8-5.92-51.29-62.19-42.67-71.65,9.22-10.11,81.24,46.76,92.34,35.51C211,371,138.27,284.29,144,279.34c6.92-5.95,104.52,125.39,155.78,104.2,12.68-5.24,17.94-17.92,27.45-41.83,10.68-26.84,25.57-77.28,16.09-147.72" transform="translate(-60.46 -191.9)"/>
              <!-- curve -->
              <path class="cls-3" d="M402.06,481.63c-40.92-11.37-75.9-19.06-102.25-24.24-41.09-8.07-84.71-16.41-140.52-18.3-63.78-2.16-98.38,5.67-98.33,6.54.06,1.09,54.32-10.89,97,18.3a102.7,102.7,0,0,1,19.73,17.7h41.45c-41.32-40.66-47.7-56.89-43.53-63.45,8.58-13.51,58.52,19.27,107.84-3.27,21.13-9.66,33.53-25.54,45.75-41.18,4.69-6,27.81-36.36,39.22-86.27,11.23-49.17,3.75-85.14,22.87-93.47a21.6,21.6,0,0,1,11.77-1.3" transform="translate(-60.46 -191.9)"/>
              <!-- eye -->
              <ellipse class="cls-4" cx="224.65" cy="76.28" rx="34.31" ry="31.7"/>
              <!-- text -->
              <a href="https://github.com/zonayedrahman" target="_blank"><text class="cls-5" transform="translate(214.07 79.54)">U<tspan x="6.38" y="11">D</tspan></text></a>
            </svg>
          </div>



          <div class="contact">
            <hr>
            <p>Euvin Kang</p>
            <p>Zonayed Rahman</p>
            <p>Jun Yong Song</p>
            <p>New York University</p>
            <p>(929)504-1839</p>
            <p><a href="https://www.gmail.com">Contact Us</a></p>

          </div>


{% endblock %}