{% extends "base2.html" %}

{% block title %}Interests{% endblock %}


{% block stylesheet %}
        <style>

                {# content 1#}
                .grid > div:nth-child(3) {
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 2/17;
                grid-row: 9/14;

            }

                .grid > div:nth-child(4) {
                {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 2/13;
                grid-row: 13/20;
            }

                .grid > div:nth-child(5) {
                /* background: pink; */
                {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 2/17;
                grid-row: 23/26;
            }

                {# content 4#}
                .grid > div:nth-child(6) {
                /* background: pink; */
                    background-color: rgb(255, 192, 203, .85);
                grid-column: 8/10;
                grid-row: 29;
            }

                {# content 5#}
                .grid > div:nth-child(7) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 10;
                grid-row: 40;
            }


        </style>
{% endblock %}
{% block content %}


          <div class="content_1">
            <h1>Current Interests</h1>
          </div>

          <div class="content_2">

            <ul class="list-group list-group-flush" id="interests">
              {% if not my_interests %}
                <li>No interests selected.</li>
              {% endif %}
              {% for interest in my_interests %}
              <li class="list-group-item" style="background-color: rgba(219,112,147,0.01)">
                <div style="text-align: center"><strong>{{ interest[0] }}</strong></div>

                <form action="/delete_interest" method="POST">
                  <button
                    type="submit"
                    name="delete_interest"
                    value="{{ interest[0] }}"
                    class="close"
                  >
                    <strong>
                            <span aria-hidden="true">&times;</span>
                    </strong>
                  </button>
                </form>
              </li>
              {% endfor %}
            </ul>

          </div>


          <div class="content_3">
            <h5 align="center"><strong>Add New Interests</strong></h5>
              <br>
                <form action="/add_interest" method="POST" style="text-align: center">
                    <div class="col-3">
                        <select
                    id="dropdown"
                    name="dropdown"
                    data-live-search="true"
                    class="form-control"
                    title="Select Interest"
                    style="align-content: center"
                  ></div>

                    {% for interest in other_interests %}

                    <option value="{{ interest[0] }}">{{ interest[0] }}</option>

                    {% endfor %}
                  </select>
                  <br />
                  <button type="submit" class="btn btn-primary">Add</button>
                </form>


          </div>


          <div class="content_4">
              <br>
            <h5><strong>Add a New Interest</strong></h5>
                <form action="/create_interest" method="POST">
                        <input
                        type="text"
                        class="form-control"
                        id="new_interest"
                        name="new_interest"
                        placeholder="Enter a new Interest"
                        required
                      />
                <br>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
          </div>

          <div class="content_5">
                              {% with messages = get_flashed_messages(with_categories=true) %} {% if
                    messages %} {% for category, message in messages %}
                      {% if category == 'error' %}
                            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                      {% else %}
                            <div class="alert alert-success alter-dismissable fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                  {% endif %} {% endfor %} {% endif %} {% endwith %}
          </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

{% endblock %}