{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Current Interests</h1>
<ul class="list-group list-group-flush" id="interests">
  {% for interest in user.interests %}
  <li class="list-group-item">
    {{ interest.name }}
    <button type="button" class="close" onClick="deleteInterest({{ interest.id }})">
      <span aria-hidden="true">&times;</span>
    </button>

  </li>
  {% endfor %}
</ul>

    <br>
    <br>
    <br>
    <br>
    <br>
<h5 align="center">Add a New One</h5>

<!-- <form method="POST">
    <select name="interest_menu">
    {% for hobby in hobbies %}
        <option value="{{ hobby }}">{{ hobby }}</option>
    {% endfor %}
 </select>
    <div align="center">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form> -->
<form method="POST">
<select id="locality-dropdown" name="locality" multiple="multiple">
</select>
<button id="locality-but">Submit</button>
</form>
<script src="interests.js"></script>

<div id="myData"></div>
  {% block javascript %}
    <script type="text/javascript">
        function deleteInterest(interestId) {
          fetch("/delete-interest", {
            method: "POST",
            body: JSON.stringify({ interestId: interestId }),
          }).then((_res) => {
            window.location.href = "/interests";
          });
        }
    </script>

    {% endblock %}

{% endblock %}
