{% extends "base.html" %} {% block title %}Library{% endblock %} {% block content
%}


<h1>Library</h1>
    <ul id="fileList">
        {% if files==None %}
            <li><strong>Empty</strong></li>
        {% else %}
            {% for file in files %}
                <li><a href="/download/{{ file['name'] }}">{{ file['name'] }}</a> <button onclick="deleteFile('{{ file['name'] }}')">X</button></li>
            {% endfor %}
        {% endif %}
    </ul>
{#    <form method=post enctype=multipart/form-data>#}
{#        <input  type="file" name= "file" id="new_file">#}

    <form action="/upload_file/{{ user1['User ID'] }}/{{ user2['User ID'] }}" method="POST" enctype="multipart/form-data">
        <p>Upload a file:</p>
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <script>
        function deleteFile(filename) {
            if (confirm('Are you sure you want to delete ' + filename + '?')) {
                fetch('/delete_file', {
                    method: 'DELETE',
                    body: JSON.stringify({ filename: filename }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function(response) {
                    location.reload();
                });
            }
        }
    </script>



{% endblock %}
