{% extends "base2.html" %}

{% block title %}Login{% endblock %}


{% block stylesheet %}
        <style>

                {# content 1#}
                .grid > div:nth-child(3) {
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 8/17;
                grid-row: 10/14;

            }

                .grid > div:nth-child(4) {
                {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 6/17;
                grid-row: 15/22;
            }

                .grid > div:nth-child(5) {
                grid-column: 11/17;
                grid-row: 24;
            }



        </style>
{% endblock %}
{% block content %}


          <div class="content_1">
                <h3 ><strong>Login</strong></h3>
          </div>

          <div class="content_2">
            <form id="signUpForm" method="POST">

                <label for="email"><strong>Email Address</strong></label>
                <input style="width:50%"
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter email"
                  required
                />

                <br>
                <label for="password"><strong>Password</strong></label>
                <input style="width:50%"
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Enter password"
                  required
                />


                <br>
{#                <br>#}
                <button type="submit" class="btn btn-primary" style="background-color: rgb(82,78,78); margin-left: 20%">
                    <div style="color: orangered">
                        Login
                    </div>
                </button>

            </form>
          </div>


          <div class="content_3">
                              {% with messages = get_flashed_messages(with_categories=true) %} {% if
                    messages %} {% for category, message in messages %}
                      {% if category == 'error' %}
                            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                      {% else %}
                            <div class="alert alert-success alter-dismissable fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                  {% endif %} {% endfor %} {% endif %} {% endwith %}
          </div>



{% endblock %}