{% extends "base2.html" %}

{% block title %}Library{% endblock %}


{% block stylesheet %}
        <style>

                {# content 1#}
                .grid > div:nth-child(3) {
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 2/17;
                grid-row: 9/14;

            }

                .grid > div:nth-child(4) {
                {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 2/17;
                grid-row: 13/20;
            }

                .grid > div:nth-child(5) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 2/17;
                grid-row: 18/28;
            }

                {# content 4#}
                .grid > div:nth-child(6) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 6;
                grid-row: 29;
            }

                {# content 5#}
                .grid > div:nth-child(7) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 11/17;
                grid-row: 22/25;
            }


        </style>
{% endblock %}
{% block content %}


          <div class="content_1">

          </div>

          <div class="content_2">
            <h1>
              {% if msg %}
                <p><strong>{{ msg }}</strong></p>
              {% endif %}
            </h1>
          </div>


          <div class="content_3" style="margin-left: 300px">
                <p><strong>Come back soon to meet new and exciting people!</strong></p>

          </div>


          <div class="content_4">

          </div>

          <div class="content_5">
                              {% with messages = get_flashed_messages(with_categories=true) %} {% if
                    messages %} {% for category, message in messages %}
                      {% if category == 'error' %}
                            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                      {% else %}
                            <div class="alert alert-success alter-dismissable fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                  {% endif %} {% endfor %} {% endif %} {% endwith %}
        </div>


{% endblock %}