{% extends "base2.html" %}

{% block title %}Library{% endblock %}


{% block stylesheet %}
        <style>

                {# content 1#}
                .grid > div:nth-child(3) {
                {#background-color: rgb(10,3,3, .55);#}
                grid-column: 7/10;
                grid-row: 12/12;

            }

                .grid > div:nth-child(4) {
                {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 2/17;
                grid-row: 13/20;
            }

                .grid > div:nth-child(5) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 2/17;
                grid-row: 18/28;
            }

                {# content 4#}
                .grid > div:nth-child(6) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 6;
                grid-row: 29;
            }

                {# content 5#}
                .grid > div:nth-child(7) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 10;
                grid-row: 29;
            }


        </style>
{% endblock %}
{% block content %}


          <div class="content_1" style="text-align: center">
                    <button
                      style="background-color: rgb(82,78,78)"
                      type="submit"
                      class="btn btn-primary"
                    >
                      <a class="interestLink" href="/view_interests" style="color: orangered">Update My Interests</a>
                    </button>
          </div>

          <div class="content_2">
                <form action="/settings" method="POST">
                  <div class="card-body">
                    <table class="table table-striped shadow-lg" style="border: 3px solid">
                      {% for key in user_details.keys() %}
                      <tr>
                        <td class="table-secondary text-dark">{{ key }}:</td>
                        <td class="table-light text-dark">{{ user_details[key][1] }}</td>
                        {% if key not in ['User ID'] %}
                        <td class="table-light text-dark">
                          <div class="form-group">
                            <input
                              class="form-control"
                              id="update_field"
                              name="update_{{user_details[key][0]}}"
                              placeholder="Type to update {{ key }}"
                              required
                            />
                          </div>
                        </td>
                        {% else %}
                        <td class="table-light text-dark"></td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
                  <br />
                  <div class="col-3">
                    <button
                      style="background-color: rgb(82,78,78)"
                      type="submit"
                      class="btn btn-primary"
                    >
                        <div  style="color: orangered">Make Changes</div>
                    </button>
                  </div>
                </form>
          </div>


          <div class="content_3" style="margin-left: 300px">

          </div>


          <div class="content_4">

          </div>

          <div class="content_5">

          </div>


{% endblock %}