{% extends "base2.html" %}

{% block title %}Library{% endblock %}


{% block stylesheet %}
        <style>

                {# content 1#}
                .grid > div:nth-child(3) {
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 1/17;
                grid-row: 12/14;

            }

                .grid > div:nth-child(4) {
                {#background-color: rgb(255, 192, 203, .85);#}
                grid-column: 2/17;
                grid-row: 15/60;
            }

                .grid > div:nth-child(5) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 2/17;
                grid-row: 18/28;
            }

                {# content 4#}
                .grid > div:nth-child(6) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 6;
                grid-row: 29;
            }

                {# content 5#}
                .grid > div:nth-child(7) {
                /* background: pink; */
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 10;
                grid-row: 29;
            }

            .col-3 {
                margin-left: 100px;
            }
        </style>
{% endblock %}
{% block content %}


          <div class="content_1">
            <h3 align="center">Sign Up</h3>
          </div>

          <div class="content_2" >
               <form class="signUpForm" method="POST">
                  <br />
                  <div class="col-3">
                    <label for="email"><strong>Email Address</strong></label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Enter email"
                      required
                    />
                  </div>

                  <div class="col-3" >
                    <label for="firstName"><strong>First Name</strong></label>
                    <input
                      type="text"
                      class="form-control"
                      id="firstName"
                      name="firstName"
                      placeholder="Enter first name"
                      required
                    />
                  </div>
                  <div class="col-3">
                    <label for="lastName"><strong>Last Name</strong></label>
                    <input
                      type="text"
                      class="form-control"
                      id="lastName"
                      name="lastName"
                      placeholder="Enter last name"
                      required
                    />
                  </div>
                  <div class="col-3">
                    <label for="phoneNumber"><strong>Phone Number</strong></label>
                    <input
                      type="text"
                      class="form-control"
                      id="phoneNumber"
                      name="phoneNumber"
                      placeholder="Enter Phone Number"
                      required
                    />
                  </div>
                  <div class="col-3">
                    <label for="password1"><strong>Password</strong></label>
                    <input
                      type="password"
                      class="form-control"
                      id="password1"
                      name="password1"
                      placeholder="Enter password"
                      required
                    />
                  </div>
                  <div class="col-3">
                    <label for="password2"><strong>Password (Confirm)</strong></label>
                    <input
                      type="password"
                      class="form-control"
                      id="password2"
                      name="password2"
                      placeholder="Confirm password"
                      required
                    />
                  </div>
                  <br />
                  <div class="boxed" style="margin-left: 350px; margin-top: 20px";>
                    <textarea
                      name="desc"
                      rows="5"
                      cols="40"
                      placeholder="Introduce yourself!"
                    ></textarea>
                  </div>
                  <br />
                  <div style="margin-left: 520px">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>


          </div>


          <div class="content_3" style="margin-left: 300px">


          </div>


          <div class="content_4">

          </div>

          <div class="content_5">

          </div>


{% endblock %}