{% extends "base2.html" %}

{% block title %}Library{% endblock %}


{% block stylesheet %}
        <style>

                {# content 1#}
                .grid > div:nth-child(3) {
                /* background-color: rgb(255, 192, 203, .85); */
                grid-column: 8/17;
                grid-row: 11/14;

            }

                .grid > div:nth-child(4) {
                {#background-color: rgb(255, 192, 203, .85);#}
                 grid-column: 6/17;
                grid-row: 14/40;
            }

        </style>
{% endblock %}
{% block content %}


          <div class="content_1">
            <h3><strong>Sign Up</strong></h3>
          </div>

          <div class="content_2" >
               <form class="signUpForm" method="POST">
                  <br />
                  <div class="col-3">
                    <label for="email"><strong>Email Address</strong></label>
                    <input style="width:400px"
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Enter email"
                      required
                    />
                  </div>

                  <div class="col-3" >
                    <label for="firstName"><strong>First Name</strong></label>
                    <input style="width:400px"
                      type="text"
                      class="form-control"
                      id="firstName"
                      name="firstName"
                      placeholder="Enter first name"
                      required
                    />
                  </div>
                  <div class="col-3">
                    <label for="lastName"><strong>Last Name</strong></label>
                    <input style="width:400px"
                      type="text"
                      class="form-control"
                      id="lastName"
                      name="lastName"
                      placeholder="Enter last name"
                      required
                    />
                  </div>
                  <div class="col-3">
                    <label for="phoneNumber"><strong>Phone Number</strong></label>
                    <input style="width:400px"
                      type="text"
                      class="form-control"
                      id="phoneNumber"
                      name="phoneNumber"
                      placeholder="Enter Phone Number"
                      required
                    />
                  </div>
                  <div class="col-3">
                    <label for="password1"><strong>Password</strong></label>
                    <input style="width:400px"
                      type="password"
                      class="form-control"
                      id="password1"
                      name="password1"
                      placeholder="Enter password"
                      required
                    />
                  </div>
                  <div class="col-3">
                    <label for="password2"><strong>Password (Confirm)</strong></label>
                    <input style="width:400px"
                      type="password"
                      class="form-control"
                      id="password2"
                      name="password2"
                      placeholder="Confirm password"
                      required
                    />
                  </div>
                  <br />
                  <div class="boxed" >
                    <textarea style="width:600px; margin-left: -5em"
                      name="desc"
                      rows="5"
                      cols="40"
                      placeholder="Introduce yourself!"
                    ></textarea>
                  </div>
                  <br />
                  <div >
                    <button type="submit" class="btn btn-primary" style="margin-left: 10em">Submit</button>
                  </div>
                </form>


          </div>



{% endblock %}